<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <h1>template is working</h1>
   <button><a href="create">create post</a></button><br><br>
    {% for obj in object_list %}
    
       <a href="{{ obj.get_absolute_url }}"> {{obj.title}} </a><br>
        {{obj.content}} <br>
        {{obj.id}} <br>
        {{obj.update}} <br><br>
    {% endfor %}
    
</body>

</html>