{% extends "base.html" %}

{% block head_title %}
{{obj.title}}|{{block.super}}
{% endblock head_title %}

{% block style %}
    
{% endblock style %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h1>{{obj.title}} <small>{{obj.timestap}}</small></h1>
   
         <br>
        {{obj.content|linebreaks}} <br>
      
         <br><br>
        <button class="btn btn-primary"><a style=" color:azure; text-decoration: none;" href="{% url "post_list" %}">back</a></button><br><br>
</div>

{% endblock %}